version: "1.0"

services:
  prod:
    container_name: mabilisang-portfolio-prod
    env_file: ".env"
    build:
      context: .
      dockerfile: Dockerfile-prod
    ports:
      - "3000:80"
    restart: always
    environment:
      - NODE_ENV=production
      - VITE_SITE_URL=https://hows-tine.com
