version: "1.0"

services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mabilisang-portfolio-dev
    ports:
      - "5173:5173"  # Adjust if using a different port
    volumes:
      - .:/app
      - /app/node_modules  # Prevents issues with dependencies
    environment:
      - NODE_ENV=development
      - VITE_SITE_URL=http://localhost:5173
