version: "1.0"

services:
  prod:
    container_name: mabilisang-portfolio-prod
    env_file: ".env"
    networks:
      - proxy
    build:
      context: .
      dockerfile: Dockerfile-prod
    ports:
      - "3000:80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portfolio.rule=Host(`portfolio.localhost`) || Host(`hows-tine.com`) || Host(`www.hows-tine.com`)"
      - "traefik.http.routers.portfolio.entrypoints=web"
      - "traefik.http.services.portfolio.loadbalancer.server.port=80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - VITE_SITE_URL=https://hows-tine.com

networks:
  proxy:
    external: true
